hr
.footer-bottom
    .footer-right
        span &#169; MR Travel 2018. All right reserved.
    .footer-icons
        img(src="/assets/images/facebook.png")
        img.footer-image.facebook(src="/assets/images/facebook1.png")
        img(src="/assets/images/twitter.png")
        img.footer-image.twitter(src="/assets/images/twitter1.png")


