doctype html
html
    head
        title Mr Travel
        link(href="./style/main.css" type="text/css" rel="stylesheet")
        link(href="/libs/reset-css/reset.css" rel="stylesheet")
        link(href="./libs/air-datepicker/dist/css/datepicker.min.css" rel="stylesheet" type="text/css")
        block head
    body
        block body
            block top
            block content
            block footer

        script(src="/libs/jquery/jquery.js")
        script(src="/libs/air-datepicker/dist/js/datepicker.min.js")
        script(src="/js/main.js")
        script(src="/js/component/up-button.js")
        script(src="/js/component/menuSelect.js")
        script(src="/js/component/dropDown.js")
        script(src="/js/component/slider.js")
        script(src="/js/component/scroll.js")
        script(src="/js/component/collapse.js")


